*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-weight: 300; }

body {
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  color: #f5eeee;
  background-color: #131212; }

h1 {
  font-size: 4.1rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.9rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none; }

a,
a:link,
a:visited {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer; }

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

.mg-top-sm {
  margin-top: 2rem !important; }

.btn {
  width: 20rem;
  height: 4rem;
  font-weight: 500;
  border-radius: 10px; }
  .btn-outline-white {
    border: 1px solid #f5eeee; }
    .btn-outline-white:hover {
      background-color: #090808;
      border: none; }

.form__container {
  height: 40rem;
  width: 40rem;
  background-color: rgba(9, 8, 8, 0.3);
  margin: 3rem;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .form__container {
      width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__container {
      width: 35rem;
      margin: 1rem;
      padding: 1.5rem; } }
  .form__container-register {
    height: 52rem;
    width: 45rem;
    background-color: rgba(9, 8, 8, 0.3);
    margin: 3rem;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .form__container-register {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__container-register {
        width: 35rem;
        margin: 1rem;
        padding: 1.5rem; } }

.form__title {
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #d9dde3, #5a7cb1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.form__input {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: #f5eeee;
  letter-spacing: 2px; }
  .form__input::placeholder {
    color: #EAD7D7; }

.footer {
  height: 15vh;
  background-image: linear-gradient(to right bottom, #373434, #090808);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__paragraphy {
    margin: .5rem; }
  .footer__github {
    font-size: 3rem;
    margin: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 1.2rem; } }

.header {
  width: 100%;
  height: 25vh;
  background-color: #090808;
  background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.9), rgba(9, 8, 8, 0.8)), url("../assets/img/header-background.png");
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-direction: column; } }
  .header__logo {
    height: 5rem; }
  .header__search {
    width: 30rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid #f5eeee;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    position: relative;
    color: #f5eeee; }
    .header__search::placeholder {
      color: #EAD7D7; }
    .header__search[type="search"]::-webkit-search-decoration, .header__search[type="search"]::-webkit-search-cancel-button, .header__search[type="search"]::-webkit-search-results-button, .header__search[type="search"]::-webkit-search-results-decoration {
      display: none; }
    @media only screen and (max-width: 56.25em) {
      .header__search {
        width: 25rem;
        height: 4rem;
        font-size: 1.2rem; } }
  .header__form {
    position: relative; }
  .header__button {
    font-size: 2.5rem;
    position: absolute;
    top: 12px;
    right: 10px; }
    @media only screen and (max-width: 56.25em) {
      .header__button {
        font-size: 2rem;
        top: 8px;
        right: 10px; } }
  .header__sidebar {
    font-size: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .header__sidebar {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__sidebar {
        font-size: 4rem;
        position: fixed;
        top: 10px;
        right: 15px; } }

::-webkit-scrollbar {
  width: .5rem;
  background-image: rgba(9, 8, 8, 0.7); }

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border: 1rem solid #EAD7D7; }

.login {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .login__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .login__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .login__container {
        flex-direction: column; } }
  .login__vector {
    margin: 3rem;
    width: 55%; }
    @media only screen and (max-width: 37.5em) {
      .login__vector {
        width: 80%; } }

.register {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .register__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .register__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .register__container {
        flex-direction: column; } }
  .register__vector {
    margin: 3rem;
    width: 57%; }
    @media only screen and (max-width: 75em) {
      .register__vector {
        width: 50%;
        margin: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .register__vector {
        width: 80%; } }
