*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-weight: 300; }

body {
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  color: #f5eeee;
  background-color: #131212; }
  @media only screen and (max-width: 28.1em) {
    body {
      font-size: 1.2rem; } }

h1 {
  font-size: 4.1rem; }

h2 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 28.1em) {
    h2 {
      font-size: 3.1rem; } }

h3 {
  font-size: 2.9rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none; }

a,
a:link,
a:visited {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer; }

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

ul {
  list-style: none; }

.mg-top-sm {
  margin-top: 2rem !important; }

@keyframes vectorAnimation {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.btn {
  width: 20rem;
  height: 4rem;
  font-weight: 500;
  border-radius: 10px; }
  .btn-outline-white {
    border: 1px solid #f5eeee; }
    .btn-outline-white:hover {
      background-color: #090808;
      border: none; }

.form__container {
  height: 40rem;
  width: 40rem;
  background-color: rgba(9, 8, 8, 0.3);
  margin: 3rem;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .form__container {
      width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__container {
      width: 35rem;
      margin: 1rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 28.1em) {
    .form__container {
      width: 30rem; } }
  .form__container-register {
    height: 52rem;
    width: 45rem;
    background-color: rgba(9, 8, 8, 0.3);
    margin: 3rem;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .form__container-register {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__container-register {
        width: 35rem;
        margin: 1rem;
        padding: 1.5rem; } }
    @media only screen and (max-width: 28.1em) {
      .form__container-register {
        width: 30rem; } }

.form__title {
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #d9dde3, #5a7cb1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.form__input {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(245, 238, 238, 0.5);
  width: 90%;
  display: block;
  color: #f5eeee;
  letter-spacing: 2px; }
  .form__input:focus {
    border-radius: 10px; }
  .form__input::placeholder {
    color: #EAD7D7; }

.footer {
  min-height: 15vh;
  background-image: linear-gradient(to right bottom, #373434, #090808);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__paragraphy {
    margin: .5rem; }
  .footer__github {
    font-size: 3rem;
    margin: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 1.2rem; } }

.header {
  width: 100%;
  height: 18vh;
  background-color: #090808;
  background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.9), rgba(9, 8, 8, 0.8)), url("../assets/img/header-background.png");
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-direction: column; } }
  .header__logo {
    height: 5rem; }
  .header__search {
    width: 30rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid #f5eeee;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    position: relative;
    color: #f5eeee; }
    .header__search::placeholder {
      color: #EAD7D7; }
    .header__search[type="search"]::-webkit-search-decoration, .header__search[type="search"]::-webkit-search-cancel-button, .header__search[type="search"]::-webkit-search-results-button, .header__search[type="search"]::-webkit-search-results-decoration {
      display: none; }
    @media only screen and (max-width: 56.25em) {
      .header__search {
        width: 25rem;
        height: 4rem;
        font-size: 1.2rem; } }
  .header__form {
    position: relative; }
  .header__button {
    font-size: 2.5rem;
    position: absolute;
    top: 12px;
    right: 10px; }
    @media only screen and (max-width: 56.25em) {
      .header__button {
        font-size: 2rem;
        top: 8px;
        right: 10px; } }
  .header__sidebar {
    font-size: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .header__sidebar {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__sidebar {
        font-size: 4rem;
        position: fixed;
        top: 10px;
        right: 15px; } }

::-webkit-scrollbar {
  width: .5rem;
  background-image: rgba(9, 8, 8, 0.7); }

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border: 1rem solid #EAD7D7; }

.sidebar__items--home, .sidebar__items--post, .sidebar__items--edit, .sidebar__items--logout {
  gap: 10%; }

.sidebar {
  position: fixed;
  width: 40rem;
  height: 100%;
  top: 0;
  right: -20px;
  background-color: rgba(9, 8, 8, 0.9);
  display: grid;
  grid-template-rows: 10% auto 10%; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      width: 100%;
      right: 0;
      background-image: linear-gradient(to right bottom, #131212, #090808); } }
  .sidebar__button {
    font-size: 6rem; }
    .sidebar__button-container {
      grid-row: 1 / 2;
      width: 100%;
      height: 10rem;
      background-color: #373434;
      display: flex;
      align-items: center;
      padding: 0 2rem; }
  .sidebar__container {
    grid-row: 2/3;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .sidebar__container {
        font-size: 4rem; } }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .sidebar__items {
    display: flex;
    align-items: center;
    margin: 2rem;
    width: 100%; }
  .sidebar__footer {
    grid-row: 3 / -1;
    background-color: #090808;
    position: relative; }
  .sidebar__paragraphy {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.login {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .login__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .login__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .login__container {
        flex-direction: column; } }
  .login__vector {
    margin: 3rem;
    width: 55%; }
    .login__vector:hover {
      animation-name: vectorAnimation;
      animation-duration: 2s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    @media only screen and (max-width: 37.5em) {
      .login__vector {
        width: 80%; } }

.register {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .register__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .register__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .register__container {
        flex-direction: column; } }
  .register__vector {
    margin: 3rem;
    width: 57%;
    transition: all .5s linear; }
    .register__vector:hover {
      animation-name: vectorAnimation;
      animation-duration: 2s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    @media only screen and (max-width: 75em) {
      .register__vector {
        width: 50%;
        margin: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .register__vector {
        width: 80%; } }
