*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-weight: 300; }

body {
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  color: #f5eeee;
  background-color: #131212; }
  @media only screen and (max-width: 28.1em) {
    body {
      font-size: 1.2rem; } }

h1 {
  font-size: 4.1rem; }

h2 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 28.1em) {
    h2 {
      font-size: 3.1rem; } }

h3 {
  font-size: 2.9rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none; }

a,
a:link,
a:visited {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer; }

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

ul {
  list-style: none; }

.mg-top-sm {
  margin-top: 2rem !important; }

.mg-top-md {
  margin-top: 4rem !important; }

.hidden-input {
  display: none !important; }

.resetFilter {
  filter: brightness(0.75) !important; }

.mg-top-bottom-sm {
  margin: 4rem 0 !important; }

@keyframes vectorAnimation {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.btn {
  width: 20rem;
  height: 4rem;
  font-weight: 500;
  border-radius: 10px;
  font-size: 1.6rem; }
  .btn-outline-white {
    border: 1px solid #f5eeee; }
    .btn-outline-white:hover {
      background-color: #090808;
      border: none; }
  .btn-secondary {
    display: block;
    border: 1px solid #5a7cb1;
    color: #abb8cd;
    margin: 0 auto; }
    .btn-secondary:hover {
      background-color: #373434;
      border: none; }
  .btn-special {
    color: #e63f3f;
    font-size: 4rem;
    position: absolute;
    top: 2%;
    right: 2%; }

.form__container {
  height: 40rem;
  width: 40rem;
  background-color: rgba(9, 8, 8, 0.3);
  margin: 3rem;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .form__container {
      width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__container {
      width: 35rem;
      margin: 1rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 28.1em) {
    .form__container {
      width: 30rem; } }
  .form__container-register {
    height: 52rem;
    width: 45rem;
    background-color: rgba(9, 8, 8, 0.3);
    margin: 3rem;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .form__container-register {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__container-register {
        width: 35rem;
        margin: 1rem;
        padding: 1.5rem; } }
    @media only screen and (max-width: 28.1em) {
      .form__container-register {
        width: 30rem; } }

.form__title {
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #d9dde3, #5a7cb1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.form__input, .form__textarea {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(245, 238, 238, 0.5);
  width: 90%;
  display: block;
  color: #f5eeee;
  letter-spacing: 2px; }
  .form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active, .form__textarea:-webkit-autofill, .form__textarea:-webkit-autofill:hover, .form__textarea:-webkit-autofill:focus, .form__textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #131212 inset !important; }
  .form__input:-webkit-autofill, .form__textarea:-webkit-autofill {
    -webkit-text-fill-color: #f5eeee !important; }
  .form__input:focus, .form__textarea:focus {
    border-radius: 10px; }
  .form__input::placeholder, .form__textarea::placeholder {
    color: #EAD7D7; }

.form__textarea {
  font-family: inherit;
  border: 1px solid #abb8cd;
  border-radius: 10px;
  width: 40rem;
  height: 10rem;
  letter-spacing: 1.4px; }
  @media only screen and (max-width: 37.5em) {
    .form__textarea {
      width: 30rem;
      height: 8rem; } }
  @media only screen and (max-width: 28.1em) {
    .form__textarea {
      width: 20rem;
      height: 6rem; } }

.form__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
  cursor: pointer; }
  @media only screen and (max-width: 28.1em) {
    .form__label {
      font-size: 1rem; } }

.card__title, .card__createdBy, .card__like-text {
  color: #abb8cd; }

.card__photo {
  width: 28.5rem;
  height: 34.5rem;
  object-fit: cover;
  border: 2px solid #abb8cd;
  border-radius: 5%; }
  @media only screen and (max-width: 112.5em) {
    .card__photo {
      width: 23rem;
      height: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .card__photo {
      width: 18rem;
      height: 24rem; } }
  @media only screen and (max-width: 37.5em) {
    .card__photo {
      width: 23rem;
      height: 30rem; } }
  @media only screen and (max-width: 28.1em) {
    .card__photo {
      width: 14rem;
      height: 20rem; } }
  .card__photo-container {
    display: flex;
    justify-content: center; }

.card__title {
  display: inline-block;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  overflow: hidden; }

.card__createdBy {
  text-decoration: none;
  font-weight: 500; }

.card__like-image {
  cursor: pointer; }
  .card__like-image-liked {
    color: #e63f3f; }
  .card__like-image-unliked {
    color: #f5eeee; }

.message__container {
  width: 24rem;
  height: 8rem;
  position: fixed;
  top: 5%;
  left: 5%;
  background-color: rgba(19, 18, 18, 0.9);
  padding: 2rem;
  border-radius: 10px; }

.message__text-sucess {
  color: #198754; }

.message__text-danger {
  color: #e63f3f; }

.footer {
  min-height: 30vh;
  background-image: linear-gradient(to right bottom, #373434, #090808);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__paragraphy {
    margin: .5rem; }
  .footer__github {
    font-size: 3rem;
    margin: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 1.2rem; } }

.header {
  width: 100%;
  min-height: 20vh;
  background-color: #090808;
  background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.9), rgba(9, 8, 8, 0.8)), url("../assets/img/header-background.png");
  background-repeat: repeat-x;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; } }
  .header__logo {
    max-height: 5rem;
    justify-self: center;
    align-self: center; }
  .header__search {
    width: 30rem;
    max-height: 5rem;
    background-color: transparent;
    border: 1px solid #f5eeee;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    position: relative;
    color: #f5eeee; }
    .header__search::placeholder {
      color: #EAD7D7; }
    .header__search[type="search"]::-webkit-search-decoration, .header__search[type="search"]::-webkit-search-cancel-button, .header__search[type="search"]::-webkit-search-results-button, .header__search[type="search"]::-webkit-search-results-decoration {
      display: none; }
    @media only screen and (max-width: 56.25em) {
      .header__search {
        width: 25rem;
        height: 4rem;
        font-size: 1.2rem; } }
  .header__form {
    position: relative;
    justify-self: start;
    align-self: center; }
  .header__button {
    font-size: 2.5rem;
    position: absolute;
    top: 25%;
    right: 5%; }
    @media only screen and (max-width: 56.25em) {
      .header__button {
        font-size: 2rem;
        top: 8px;
        right: 10px; } }
  .header__sidebar {
    font-size: 6rem;
    position: fixed;
    top: 5%;
    right: 10%;
    z-index: 20; }
    @media only screen and (max-width: 56.25em) {
      .header__sidebar {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__sidebar {
        font-size: 4rem;
        position: fixed;
        top: 10px;
        right: 15px; } }
  .header__sidebar-close {
    font-size: 7.5rem;
    position: fixed;
    z-index: 30;
    top: 1rem;
    right: 1rem; }

::-webkit-scrollbar {
  width: .5rem;
  background-image: rgba(9, 8, 8, 0.7); }

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  border: 1rem solid #EAD7D7; }

.sidebar__items--home, .sidebar__items--post, .sidebar__items--edit, .sidebar__items--logout {
  gap: 10%; }

.sidebar {
  position: fixed;
  width: 40rem;
  height: 100%;
  top: 0;
  right: -20px;
  background-color: rgba(9, 8, 8, 0.9);
  z-index: 5;
  display: grid;
  grid-template-rows: 10% auto 10%; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      width: 100%;
      right: 0;
      background-image: linear-gradient(to right bottom, #131212, #090808); } }
  .sidebar__button {
    font-size: 6rem; }
    .sidebar__button-container {
      grid-row: 1 / 2;
      width: 100%;
      height: 10rem;
      background-color: #373434;
      justify-content: flex-start; }
  .sidebar__container {
    grid-row: 2/3;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .sidebar__container {
        font-size: 4rem; } }
    @media only screen and (max-width: 28.1em) {
      .sidebar__container {
        font-size: 3rem; } }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .sidebar__items {
    display: flex;
    align-items: center;
    margin: 2rem;
    width: 100%;
    text-decoration: none; }
  .sidebar__footer {
    grid-row: 3 / -1;
    background-color: #090808;
    position: relative; }
  .sidebar__paragraphy {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.background {
  background-image: url("../assets/img/background.svg");
  background-repeat: repeat;
  filter: brightness(1.5); }

.individual__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%; }
  @media only screen and (max-width: 56.25em) {
    .individual__container {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .individual__container {
      width: 100%; } }
  .individual__container-comment {
    min-height: 60rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to right bottom, rgba(19, 18, 18, 0.8), rgba(19, 18, 18, 0.8));
    border-radius: 10px; }
    @media only screen and (max-width: 56.25em) {
      .individual__container-comment {
        width: 95%; } }
    @media only screen and (max-width: 37.5em) {
      .individual__container-comment {
        width: 115%; } }
    .individual__container-comment__length {
      background-image: linear-gradient(to right, rgba(217, 221, 227, 0.8), rgba(90, 124, 177, 0.8));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 2px; }
      @media only screen and (max-width: 37.5em) {
        .individual__container-comment__length {
          font-size: 2.2rem; } }
    .individual__container-comment__no-comment {
      font-weight: 300;
      margin-top: 2rem; }
    .individual__container-comment__content {
      margin: 1rem 0;
      width: 80%;
      min-height: 10rem;
      max-height: 10rem;
      border: 1px solid #abb8cd;
      border-radius: 10px;
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .individual__container-comment__content {
          width: 90%; } }
      .individual__container-comment__content__author {
        width: 15%;
        background-color: rgba(55, 52, 52, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 0 0 10px;
        padding: 1rem; }
        @media only screen and (max-width: 28.1em) {
          .individual__container-comment__content__author {
            width: 23%; } }
        .individual__container-comment__content__author__image {
          height: 6rem;
          width: 6rem;
          border-radius: 50%; }
          @media only screen and (max-width: 37.5em) {
            .individual__container-comment__content__author__image {
              height: 5rem;
              width: 5rem; } }
          @media only screen and (max-width: 28.1em) {
            .individual__container-comment__content__author__image {
              height: 4rem;
              width: 4rem; } }
        .individual__container-comment__content__author__name {
          text-decoration: none;
          text-align: center; }
          @media only screen and (max-width: 28.1em) {
            .individual__container-comment__content__author__name {
              font-size: .5rem; } }
        .individual__container-comment__content__author__comment {
          display: flex;
          align-items: center;
          padding: 1.5rem;
          overflow: auto; }
          @media only screen and (max-width: 37.5em) {
            .individual__container-comment__content__author__comment {
              font-size: 1.1rem;
              padding: .7rem; } }

.login {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .login__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .login__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .login__container {
        flex-direction: column; } }
  .login__vector {
    margin: 3rem;
    width: 55%; }
    .login__vector:hover {
      animation-name: vectorAnimation;
      animation-duration: 2s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    @media only screen and (max-width: 37.5em) {
      .login__vector {
        width: 80%; } }

.register {
  max-width: 130rem;
  height: auto;
  margin: 3rem auto; }
  .register__container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, rgba(55, 52, 52, 0.8), rgba(9, 8, 8, 0.7)), url("../assets/img/main-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px; }
    @media only screen and (max-width: 75em) {
      .register__container {
        border-radius: 0; } }
    @media only screen and (max-width: 56.25em) {
      .register__container {
        flex-direction: column; } }
  .register__vector {
    margin: 3rem;
    width: 57%;
    transition: all .5s linear; }
    .register__vector:hover {
      animation-name: vectorAnimation;
      animation-duration: 2s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
    @media only screen and (max-width: 75em) {
      .register__vector {
        width: 50%;
        margin: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .register__vector {
        width: 80%; } }

.home {
  min-height: 40rem;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto;
  filter: brightness(0.75); }
  @media only screen and (max-width: 112.5em) {
    .home {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 75em) {
    .home {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .home {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .home {
      grid-template-columns: 1fr; } }
  .home__container {
    background-color: #090808;
    height: 50rem;
    width: 35.5rem;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 5%;
    margin: 1.5rem; }
    @media only screen and (max-width: 112.5em) {
      .home__container {
        width: 30rem;
        height: 45rem;
        margin: 1.5rem .7rem; } }
    @media only screen and (max-width: 56.25em) {
      .home__container {
        width: 25rem;
        height: 40rem;
        margin: 1.5rem .4rem; } }
    @media only screen and (max-width: 37.5em) {
      .home__container {
        width: 30rem;
        height: 45rem;
        margin: 1.5rem .7rem; } }
    @media only screen and (max-width: 28.1em) {
      .home__container {
        width: 20rem;
        height: 35rem;
        margin: 1.5rem .4rem; } }
  .home__title {
    grid-column: 1/-1;
    justify-self: center;
    margin: 2rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #d9dde3, #5a7cb1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px; }
    @media only screen and (max-width: 28.1em) {
      .home__title {
        font-size: 2.5rem; } }
  .home__no-content {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center; }
  .home__search-content {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    letter-spacing: 1.6px; }

.edit-profile__user-photo, .edit-profile__photo, .edit-profile__input {
  filter: brightness(0.8); }

.edit-profile__container {
  margin: 0 auto;
  min-height: 70vh;
  width: 80rem;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(9, 8, 8, 0.4), rgba(9, 8, 8, 0.4)), url("../assets/img/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 1rem 5rem rgba(9, 8, 8, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .edit-profile__container {
      width: 80%; } }

.edit-profile__photo {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #abb8cd; }

.edit-profile__input {
  margin: 1.6rem;
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .edit-profile__input {
      width: 100%; } }

.profile__name, .profile__bio, .profile__text {
  margin: 2rem 0; }

.profile__view-icon, .profile__delete-icon {
  margin: 1rem 1rem 0 0; }

.profile__container, .profile__individual-container {
  background-image: linear-gradient(to right bottom, rgba(9, 8, 8, 0.4), rgba(9, 8, 8, 0.4)), url("../assets/img/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 1rem 5rem rgba(9, 8, 8, 0.1); }

.profile {
  margin: 2rem; }
  .profile__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    width: 70vw;
    margin: 0 auto;
    padding: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .profile__container {
        width: 85vw; } }
    @media only screen and (max-width: 56.25em) {
      .profile__container {
        display: flex;
        flex-direction: column;
        min-height: 85rem; } }
    @media only screen and (max-width: 37.5em) {
      .profile__container {
        width: 90vw; } }
    .profile__container-user {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .profile__container-create {
      grid-column: 2/-1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  .profile__image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #abb8cd; }
  .profile__name {
    align-items: center; }
  .profile__bio {
    align-items: center;
    font-weight: 300;
    text-align: center; }
  @media only screen and (max-width: 28.1em) {
    .profile__title {
      font-size: 2.3rem; } }
  .profile__title-post {
    text-align: center; }
  .profile__view-icon {
    font-size: 2.2rem;
    color: #abb8cd; }
    .profile__view-icon:hover {
      color: #5a7cb1; }
  .profile__delete-icon {
    font-size: 2.2rem;
    color: #e63f3f; }
    .profile__delete-icon:hover {
      color: #a91616; }
  .profile__individual-container {
    padding: 3rem;
    margin-bottom: 2rem; }
