.home {

  min-height: 80vh;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);

  width: 80%;
  margin: 0 auto;
  filter: brightness(.75);

  @include respond(medium-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__container {
    
    background-color: $color-primary-dark;
    height: 50rem;
    width: 35.5rem;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 5%;
    margin: 1.5rem;

    @include respond(medium-desktop) {
      width: 30rem;
      height: 45rem;
      margin: 1.5rem .7rem;
    }

    @include respond(tab-port) {
      width: 25rem;
      height: 40rem;
      margin: 1.5rem .4rem;
    }

    @include respond(phone) {
      width: 30rem;
      height: 45rem;
      margin: 1.5rem .7rem;
    }

    @include respond(small-phone) {
      width: 20rem;
      height: 35rem;
      margin: 1.5rem .4rem;
    }
  }

  &__title {
    grid-column: 1/-1;
    justify-self: center;
    margin: 2rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,
    $color-secondary-light, $color-secondary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    @include respond(small-phone) {
      font-size: 2.5rem;
    }
  }

  &__no-content {

  }
}