.login {

  max-width: 130rem;
  height: auto;
  margin: 3rem auto;

  &__container {
    display: flex;
    align-items: center;
    background-image:
    linear-gradient(
        to right top,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .7)),
    url('../assets/img/main-background.png');
    background-repeat: repeat-x;
    background-size: cover;
    border-radius: 10px;

    @include respond(tab-land) {
      border-radius: 0;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__vector {
    margin: 3rem;
    width: 55%;

    &:hover {
      @include animationVector;
    }

    @include respond(phone) {
      width: 80%;
    }
  }

}