.header {

  width: 100%;
  height: 18vh;
  background-color: $color-primary-dark;
  background-image:
  linear-gradient(
      to right top,
      rgba($color-primary-light, .9),
      rgba($color-primary-dark, .8)),
  url('../assets/img/header-background.png');
  background-repeat: repeat-x;
  background-size: cover;

  display: grid;
  grid-template-columns: 40vw 40vw 20vw;

  @include respond(phone) {
    flex-direction: column;
  }

  &__logo{
    height: 5rem;
    justify-self: center;
    align-self: center;
  }

  &__search {
    width: 30rem;
    height: 5rem;
    background-color: transparent;
    border: 1px solid $color-white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    position: relative;
    color: $color-white;

    &::placeholder {
      color: $color-white-dark;
    }

    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      display: none;
    }

    @include respond(tab-port) {
      width: 25rem;
      height: 4rem;
      font-size: 1.2rem;
    }
  }

  &__form {
    position: relative;
    justify-self: start;
    align-self: center;
  }

  &__button {
    font-size: 2.5rem;
    position: absolute;
    top: 25%;
    right: 5%;

    @include respond(tab-port) {
      font-size: 2rem;
      top: 8px;
      right: 10px;
    }
  }

  &__sidebar {
    font-size: 6rem;
    position: fixed;
    top:5%;
    right: 10%;
    z-index: 20;

    &-close {
      font-size: 7.5rem;
      position: fixed;
      top: 1.5%;
      right: 15.5%;
    }

    @include respond(tab-port) {
      font-size: 4.5rem;
    }

    @include respond(phone) {
      font-size: 4rem;
      position: fixed;
      top: 10px;
      right: 15px;

    }
  }
}