*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  color: $color-white;
  background-color: $color-primary;

  @include respond(small-phone) {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 4.1rem;
}

h2 {
  font-size: 3.5rem;

  @include respond(small-phone) {
    font-size: 3.1rem;
  }
}

h3 {
  font-size: 2.9rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
}

a,
a:link,
a:visited {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

