//COLORS
$color-primary: #131212;
$color-primary-light: #373434;
$color-primary-dark: #090808;
$color-secondary: #abb8cd;
$color-secondary-light: #d9dde3;
$color-secondary-dark: #5a7cb1;
$color-white: #f5eeee;
$color-white-dark:#EAD7D7 ;
$color-white-light: #ffffff;
$color-black: #000000;
$color-red: #e63f3f;
$color-green: #198754;



